/*-------------- LOGO DISPLAY - Made By FAXES -------------- */

#logo .contenair{
	position:absolute;
	z-index: 2;    
	width: 200px;									
	height:77px;									
	left:45.0%;										
	top:0%;										
	margin:0;    					
	opacity: 0.70; 
	background: url('img/logo.png');				
	padding: none; 									
    
}
	
#logo .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
	margin: 0;  
	text-align: middle;
  background: transparent;	
}
	













